@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --text-title: 24px;
  --text-title--line-height: 24px;

  --text-setpoint: 45px;
  --text-setpoint--line-height: 45px;

  --color-icon: var(--paper-item-icon-color, #44739e);
  --color-error: var(--state-icon-error-color, #db4437);
}

@layer utilities {
  .thermostat-card {
    --yolodev-thermostat-base-color: var(--state-climate-off-color, #44739e);
    --yolodev-thermostat-setpoint-color: currentColor;
    --yolodev-thermostat-icon-color: color-mix(
      in srgb,
      currentColor 20%,
      transparent
    );
    --yolodev-thermostat-slider-color: color-mix(
      in srgb,
      var(--yolodev-thermostat-base-color) 60%,
      transparent
    );

    --yolodev-thermostat-highlight-opacity: 0%;
    position: relative;

    &::before {
      content: "";
      height: 100%;
      width: 100%;
      opacity: var(--yolodev-thermostat-highlight-opacity);
      transition: opacity 3s;
      position: absolute;
      pointer-events: none;
      background: radial-gradient(
        circle at right,
        color-mix(
          in srgb,
          var(--yolodev-thermostat-base-color) 30%,
          transparent
        ),
        transparent 50%
      );
      /*z-index: -1000;*/
      border-radius: 8px;
    }

    &.state-auto {
      --yolodev-thermostat-base-color: var(--state-climate-auto-color);
    }

    &.state-cool {
      --yolodev-thermostat-base-color: var(--state-climate-cool-color);
    }

    &.state-dry {
      --yolodev-thermostat-base-color: var(--state-climate-dry-color);
    }

    &.state-fan_only {
      --yolodev-thermostat-base-color: var(--state-climate-fan_only-color);
    }

    &.state-heat {
      --yolodev-thermostat-base-color: var(--state-climate-heat-color);
    }

    &.state-heat-cool {
      --yolodev-thermostat-base-color: var(--state-climate-heat-cool-color);
    }

    &.active {
      --yolodev-thermostat-icon-color: var(--yolodev-thermostat-base-color);
      --yolodev-thermostat-setpoint-color: var(--yolodev-thermostat-base-color);
      --yolodev-thermostat-highlight-opacity: 100%;
      --yolodev-thermostat-slider-color: var(--yolodev-thermostat-base-color);
    }

    &.pending {
      --yolodev-thermostat-setpoint-color: var(
        --state-icon-error-color,
        #db4437
      );
    }

    &.state-unavailable {
      --yolodev-thermostat-base-color: var(--state-unavailable-color);
      --yolodev-thermostat-icon-color: var(--state-unavailable-color);
      --yolodev-thermostat-setpoint-color: var(--state-unavailable-color);
      --yolodev-thermostat-slider-color: var(--state-unavailable-color);
    }

    & .thermostat-icon {
      color: var(--yolodev-thermostat-icon-color);
    }

    & .control-slider {
      --control-slider-color: var(--yolodev-thermostat-slider-color);
      --control-slider-tooltip-font-size: 18px;
    }

    & .thermostat-setpoint {
      color: var(--yolodev-thermostat-setpoint-color);
    }

    & .icon-button {
      --md-outlined-icon-button-container-width: 32px;
      --md-outlined-icon-button-container-height: 32px;
      --md-outlined-icon-button-icon-size: 32px;
    }
  }
}

@property --yolodev-thermostat-base-color {
  syntax: "<color>";
  initial-value: #44739e;
  inherits: true;
}

@property --yolodev-thermostat-icon-color {
  syntax: "<color>";
  initial-value: black;
  inherits: true;
}

@property --yolodev-thermostat-setpoint-color {
  syntax: "<color>";
  initial-value: currentColor;
  inherits: true;
}

@property --yolodev-thermostat-highlight-opacity {
  syntax: "<percentage>";
  initial-value: 100%;
  inherits: true;
}

@property --yolodev-thermostat-slider-color {
  syntax: "<color>";
  initial-value: currentColor;
  inherits: true;
}
